#board {
	border-style: solid;
	border-color: black;
	border-width: 2px;
    display:inline-block;
}
.tile {
    width: 100px;
    height: 100px;
    display:inline-block;
}
.tile:hover { background-color: lightblue; }
.black { background-color: darkgrey; }
.white { background-color: floralwhite; }
.target { box-shadow:0px 0px 0px 3px gold inset; }
.hint { box-shadow:0px 0px 0px 3px lightgreen inset; }